

[2022-11-26] [악곡 'fixer' 추가!](https://act.sgsnssdk.com/gms/eba0e75005/?from_source=h5){:target="_blank"}

[2022-11-27] [악곡 'End Mark ni Kibou to Namida wo soete' 추가!](https://act.sgsnssdk.com/gms/71eb5c31f7/?from_source=h5){:target="_blank"}

[2022-11-27] [[중요] 라이브 미션 월초 초기화 안내](https://act.sgsnssdk.com/gms/9fd6d27ba0/?from_source=h5){:target="_blank"}

[2022-11-27] [[예고] '카네이션 리컬렉션' 이벤트 진행 안내](https://act.sgsnssdk.com/gms/975a523942/?from_source=h5){:target="_blank"}

[2022-11-27] [악곡 'Tondemo-Wonderz' 추가!](https://act.sgsnssdk.com/gms/b1f5dc4949/?from_source=h5){:target="_blank"}

[2022-11-28] [악곡 'the EmpErroR' 추가!](https://act.sgsnssdk.com/gms/05464b85d9/?from_source=h5){:target="_blank"}

[2022-11-28] [악곡 'Kanadetomosusora' 추가!](https://act.sgsnssdk.com/gms/45bd695da6/?from_source=h5){:target="_blank"}

[2022-11-28] [ '메모리즈 멜로디 뽑기' 진행 안내!](https://act.sgsnssdk.com/gms/dcb79df5ac/?from_source=h5){:target="_blank"}