

[2022-12-30] [ '★4 멤버 1명 확정 뽑기' 등장!](https://act.sgsnssdk.com/gms/cd13ec599c/?from_source=h5){:target="_blank"}

[2022-12-30] [[예고] '2023 카운트다운 라이브' 개최 예정 안내](https://act.sgsnssdk.com/gms/b339685dec/?from_source=h5){:target="_blank"}

[2022-12-30] [[예고] '2023 해피 뉴 이어 라이브' 개최 예정 안내](https://act.sgsnssdk.com/gms/0858a09b66/?from_source=h5){:target="_blank"}

[2022-12-31] [ '2023 새해맞이 특별 판매' 진행 중!](https://act.sgsnssdk.com/gms/57cb2fabd1/?from_source=h5){:target="_blank"}

[2022-12-31] [ '[2023 새해맞이] 세뱃돈 로그인 캠페인', '[새해 기념] 10회 연속 무료 뽑기' 진행 안내 ](https://act.sgsnssdk.com/gms/ddd271a1bc/?from_source=h5){:target="_blank"}

[2022-12-31] [예고, '성격의 색깔' 유형 테스트 이벤트 개최 안내!](https://act.sgsnssdk.com/gms/37c9f836e2/?from_source=h5){:target="_blank"}

[2022-12-31] [ '[버추얼 싱어] ★4 멤버 1명 확정 뽑기' 등장!](https://act.sgsnssdk.com/gms/c118082312/?from_source=h5){:target="_blank"}

[2022-12-31] [12/30 로그인 문제, ‘하프 애니버서리 기념 PV 리트윗·추첨 이벤트’·12/31 '성격의 색깔' 유형 테스트 보상 지급 관련 안내](https://act.sgsnssdk.com/gms/1efb6c7722/?from_source=h5){:target="_blank"}

[2022-12-31] [[버추얼 싱어] ★4 멤버 1명 확정 뽑기 문제 관련 안내](https://act.sgsnssdk.com/gms/9e797f4627/?from_source=h5){:target="_blank"}

[2023-01-01] [1월 라이브 미션 진행 안내](https://act.sgsnssdk.com/gms/b09f212741/?from_source=h5){:target="_blank"}

[2023-01-01] [ '새해 일러스트 공모전' 진행 중!](https://act.sgsnssdk.com/gms/fc317013b8/?from_source=h5){:target="_blank"}

[2023-01-01] [악곡 'Karakuri Pierrot' 추가!](https://act.sgsnssdk.com/gms/1473249cf3/?from_source=h5){:target="_blank"}

[2023-01-01] [[예고] '해피 러블리 에브리데이!' 이벤트 개최 예정!](https://act.sgsnssdk.com/gms/40d4e6a4e0/?from_source=h5){:target="_blank"}

[2023-01-01] [ '[Leo/need] ★4 멤버 1명 확정 뽑기' 등장!](https://act.sgsnssdk.com/gms/f2a899bf93/?from_source=h5){:target="_blank"}

[2023-01-01] [ '봄의 식물 의상 디자인 공모 이벤트' 진행 중!](https://act.sgsnssdk.com/gms/9b511f4a78/?from_source=h5){:target="_blank"}

[2023-01-02] [ '러블리 메신저 뽑기' 진행 안내](https://act.sgsnssdk.com/gms/33c442f30c/?from_source=h5){:target="_blank"}

[2023-01-02] [ '[MORE MORE JUMP!] ★4 멤버 1명 확정 뽑기' 등장!](https://act.sgsnssdk.com/gms/9a6b8b0b85/?from_source=h5){:target="_blank"}

[2023-01-02] [ '★3 이상 확정 티켓 뽑기' 멤버 업데이트 안내](https://act.sgsnssdk.com/gms/cbbfc0ba3d/?from_source=h5){:target="_blank"}