

[2022-12-04] [[예고] 'HAPPY BIRTHDAY 라이브 시즈쿠' 개최 예정 안내](https://act.sgsnssdk.com/gms/687e2ba762/?from_source=h5){:target="_blank"}

[2022-12-04] [[예고] 'Unnamed Harmony' 이벤트 개최 예정 안내](https://act.sgsnssdk.com/gms/cc6def5bba/?from_source=h5){:target="_blank"}

[2022-12-05] [ '무지갯빛 하모니 뽑기' 개최 안내!](https://act.sgsnssdk.com/gms/f57189e6c2/?from_source=h5){:target="_blank"}

[2022-12-06] [ '[히노모리 시즈쿠] HAPPY BIRTHDAY 뽑기' 개최!](https://act.sgsnssdk.com/gms/d92035d508/?from_source=h5){:target="_blank"}

[2022-12-06] [악곡 복구 안내](https://act.sgsnssdk.com/gms/ce6c569971/?from_source=h5){:target="_blank"}