

[2023-01-08] [アイスドロップ / icedrop](https://sekai.best/music/140){:target="_blank"}

[2023-01-09] [Glory Steady Go! / Glory Steady Go!](https://sekai.best/music/166){:target="_blank"}

[2023-01-09] [ガランド / Ifuudoudou](https://sekai.best/music/200){:target="_blank"}

[2023-01-15] [うっせぇわ / Usseewa](https://sekai.best/music/204){:target="_blank"}

[2023-01-20] [群青讃歌 / Gunjo Sanka](https://sekai.best/music/141){:target="_blank"}

[2023-01-20] [君色マリンスノウ / Colorful Marine Snow](https://sekai.best/music/206){:target="_blank"}

[2023-01-23] [流星のパルス / Pulse of the Meteor](https://sekai.best/music/173){:target="_blank"}

[2023-01-25] [踊 / Odo ](https://sekai.best/music/205){:target="_blank"}

[2023-02-05] [再生 / Reborn](https://sekai.best/music/142){:target="_blank"}

[2023-02-06] [愛して愛して愛して / Love Me, Love Me, Love Me](https://sekai.best/music/181){:target="_blank"}

[2023-02-14] [いーあるふぁんくらぶ / 1,2, FanClub](https://sekai.best/music/174){:target="_blank"}

[2023-02-20] [ジウダス / Judas](https://sekai.best/music/215){:target="_blank"}

[2023-02-26] [ショウタイム・ルーラー / Showtime Ruler](https://sekai.best/music/160){:target="_blank"}

[2023-02-27] [ナンセンス文学 / Literary nonsense](https://sekai.best/music/158){:target="_blank"}

[2023-02-27] [ロウワー / Lower one's eyes](https://sekai.best/music/187){:target="_blank"}

[2099-04-09] [ミライ / ミライ](https://sekai.best/music/180){:target="_blank"}